<%- include("header")-%>


    <div class="box" id="heading">
        <h1>
            <%=listTitle%>
        </h1>

    </div>



    <div class="box">



        <%  newListItems.forEach(function(theNames) { %>
            <form clss="item" action="/delete" method="Post">
                <div class="item">

                    <input type="checkbox" onChange="this.form.submit()" name="checkbox" value="<%=theNames._id%>">
                    <p>
                        <%=theNames.name%>
                    </p>

                </div>
            </form>
            <%}) %>



                <form class="item" action="/" method="Post">
                    <input type="text" name="item" id="" placeholder="New Item" autocomplete="off">
                    <button type="submit" name="list" value="<%=listTitle%>">+</button>
                </form>
    </div>

    <%- include("footer")-%>